<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="message_mapper">

    <insert id="create">
        insert into message(m_message, m_client)
        values(#{message}, #{clientName})
    </insert>

    <update id="update">
        update message
        set m_message=#{message}
        where m_id=#{id}
    </update>

    <resultMap id="message_map" type="myChat.bo.ConnectMessage" autoMapping="false">
        <id property="id" column="m_id"/>
        <result property="message" column="m_message"/>
        <result property="clientName" column="m_client"/>
    </resultMap>
</mapper>